.max-width-400 {
  max-width: 400px;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.fvh {
  height: 100vh;
}

.fvw {
  width: 100vw;
}

.lh-1 {
  line-height: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.b-0 {
  border: 0;
}

.h-40 {
  height: 40px;
}

.br-tl-0 {
  border-top-left-radius: 0;
}

.br-bl-0 {
  border-bottom-left-radius: 0;
}
